name: ci

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 20

      - run: npm i -g --force corepack@latest && corepack enable

      - name: Install dependencies
        run: pnpm install

      - name: Lint
        run: pnpm lint

  test:
    name: Test (Nuxt ${{ matrix.nuxt }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        nuxt: ["4.0.0", "4.1.0", "4.2.0", "latest"]

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 20

      - run: npm i -g --force corepack@latest && corepack enable

      - name: Set Nuxt version
        run: |
          pnpm pkg set devDependencies.nuxt=${{ matrix.nuxt }}
          echo "Selected Nuxt version: ${{ matrix.nuxt }}"

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile

      - name: Show installed Nuxt version
        run: node -e "console.log(require('nuxt/package.json').version)"

      - name: Playground prepare
        run: pnpm dev:prepare

      - name: Test
        run: pnpm test
